.links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  > a {
    opacity: 0.8;
    > img {
      height: 40px;
    }
    &:hover {
    opacity: 1;
    }
    &:active {
      opacity: 0.8;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  > h2 {
    margin: 0;
    letter-spacing: 2px;
    > a {
      opacity: 0.9;
      &:hover {
      opacity: 1;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
