.header {
  display: flex;
  justify-content: space-between;
  > h2 {
    margin: 0;
    letter-spacing: 2px;
    > a {
      opacity: 0.9;
      &:hover {
      opacity: 1;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
}

.page {
  height: 100vh;
  width: 100vw;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top {
  display: flex;
  flex-direction: column;
  > h1 {
    font-size: 1.62rem;
  }
}

#about {
  height: unset;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10vh;
  > h3 {
    margin: 0 auto;
    margin-bottom: 3vh;
    margin-top: 11vh;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 3vw;
    .experience {
      margin-bottom: 3vh;
      min-width: 30px;
      .wrap {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        .work {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          img {
            max-width: 200px;
          }
        }
      }
    }
    .education {
      margin-bottom: 3vh;
      min-width: 320px;
      .school {
        margin: 0 auto;
        padding: 10px;
        img {
          max-width: 200px;
        }
      }
    }
  }
  .me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3vh;
    .image-wrap {
      width: 50%;
      min-width: 400px;
      margin: 1vh auto;
      padding: 0 1vw;
      > img {
        border-radius: 5px;
        margin: 0;
      }
    }
    > p {
      width: 50%;
      min-width: 400px;
      font-size: 0.9rem;
      margin: 1vh auto;
      display: flex;
      align-items: center;
      padding: 0 1vw;
    }
  }
}

#contact {
  height: 75vh;
  .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    > div {
      display: flex;
      flex-direction: space-around;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh 2vw;
        > a {
          opacity: 0.8;
          text-decoration: none;
          > img {
            height: 30px;
            margin: 0;
          }
          &:hover {
          opacity: 1;
          > img {
            transform: scale(1.25);
          }
          }
          &:active {
            opacity: 0.8;
          }
        }
        > p {
          font-size: 0.7rem;
        }
      }
    }
  }
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .skill {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 5px 0;
    min-width: 320px;
    .name {
      font-size: 0.9rem;
    }
    .stars {
      color: gold;
      font-size: 1.5rem;
    }
  }
}
